<!--&lt;!&ndash;Navbar &ndash;&gt;-->
<!--<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"-->
          <!--aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent-555">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home-->
          <!--<span class="sr-only">(current)</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Pricing</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="navbar-nav ml-auto nav-flex-icons">-->
      <!--<li class="nav-item avatar">-->
        <!--<a class="nav-link p-0" href="#">-->
          <!--<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"-->
               <!--alt="avatar image" height="35">-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!--&lt;!&ndash;/.Navbar &ndash;&gt;-->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand left-align container" routerLink="/home">Vivek Mishra</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/experience">Work Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/projects">Projects</a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link waves-light" mdbWavesEffect>Contact</a>-->
      <!--</li>-->
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

