<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small special-color-dark pt-4">-->

  <!--<div class="col-md-12">-->
    <!--<div class="mb-5 flex-center">-->

      <!--&lt;!&ndash; Facebook &ndash;&gt;-->
      <!--<a class="">-->
        <!--<mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>-->
      <!--</a>-->
      <!--&lt;!&ndash; Twitter &ndash;&gt;-->
      <!--<a class="">-->
        <!--<mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>-->
      <!--</a>-->
      <!--&lt;!&ndash;Linkedin &ndash;&gt;-->
      <!--<a class="">-->
        <!--<mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>-->
      <!--</a>-->
      <!--&lt;!&ndash;Instagram&ndash;&gt;-->
      <!--<a class="">-->
        <!--<mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->

<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
