<section class="view about near-moon-gradient" style="background-color: #eceff1;">
  <div class="">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="card-content">
            <div class="row">
              <img src="../../assets/vivek.jpg" class="float-left rounded" alt="Responsive image" width="20%" height="20%">
            </div>
            <div class="row">
              <h2>Vivek Mishra</h2>
            </div>
            <div class="row">
              <h4>Master of Computer Science</h4>
            </div>
            <div class="row">
              <h4>University of Iowa</h4>
            </div>
            <div class="row">
              <hr style="width:200px" class="w3-opacity">
            </div>
            <div class="row text-justify">
              <p>Currently a Master of Computer Science student at University of Iowa, I will be graduating in May 2019. Primarily interested in application development, I have previously worked on multiple projects during previous internships and undergrad, in teams as well as alone. I like to learn and work on new technologies and platforms and adapt to the changing environment. I want to work for an organization that promotes research, innovation and creativity along with logical development of a person.
              </p>
            </div>
            <div class="row text-justify">
              <p>
                I recently had an internship at Comigo, a start-up which was a great experience. Building an application from scratch requires serious efforts and I am glad I was able to live upto
                expectations.
              </p>
            </div>
            <div class="row text-justify">
              <p>Apart from academics and software interests, I like reading, writing, photography, trainspotting and planespotting. In my free time, I enjoy reading about historic places, monuments, cultures and archeology. A diehard Real Madrid fan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



